In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv("C:\\Users\\arups\\OneDrive\\Desktop\\COLLECTION\\PROGRAMS\\TEST_CSVs\\test.csv" ,usecols=[1,2,3,4,5,6,7,8] )
df.head()

   X0 X1  X2 X3 X4 X5 X6 X8
0  az  v   n  f  d  t  a  w
1   t  b  ai  a  d  b  g  y
2  az  v  as  f  d  a  j  j
3  az  l   n  f  d  z  l  n
4   w  s  as  c  d  y  i  m

In [ ]:
df.columns

In [5]:
for col in df.columns:
    print(col , ':' , len(df[col].unique()) , 'labels')

X0 : 49 labels
X1 : 27 labels
X2 : 45 labels
X3 : 7 labels
X4 : 4 labels
X5 : 32 labels
X6 : 12 labels
X8 : 25 labels

In [6]:
pd.get_dummies(df , drop_first = True).shape

(4209, 193)

In [7]:
top_10_in_X2 = df.X2.value_counts().sort_values(ascending = False).head(10).index

In [8]:
list(top_10_in_X2)
# Or
top_10 =[x for x in df.X2.value_counts().sort_values(ascending = False).head(10).index]

In [9]:
top_10

['as', 'ae', 'ai', 'm', 'ak', 'r', 'n', 's', 'f', 'e']

In [ ]:
df['X2']

In [ ]:
for label in top_10:
    df[label] = np.where(df['X2'] == label , 1 , 0)
    
df[['X2']+top_10].head(40)

In [ ]:
df = pd.read_csv("C:\\Users\\arups\\OneDrive\\Desktop\\COLLECTION\\PROGRAMS\\TEST_CSVs\\test.csv" ,usecols=[1,2,3,4,5,6] )
df.head()

In [11]:
# get whole set of dummy variable,for all the categorical variables

import pandas as pd
import numpy as np

def one_hot_top_x(df, variable, top_x_labels):
    for label in top_x_labels:
        df[variable + '_' + label] = np.where(df[variable] == label, 1, 0)

df = pd.read_csv("C:\\Users\\arups\\OneDrive\\Desktop\\COLLECTION\\PROGRAMS\\TEST_CSVs\\test.csv", usecols=['X1', 'X2', 'X3', 'X4', 'X5', 'X6'])
top_10 = ['as', 'ae', 'ai', 'm', 'ak', 'r', 'n', 's', 'f', 'e']
one_hot_top_x(df, 'X2', top_10)
df.head()

,X1,X2,X3,X4,X5,X6,X2_as,X2_ae,X2_ai,X2_m,X2_ak,X2_r,X2_n,X2_s,X2_f,X2_e
0,v,n,f,d,t,a,0,0,0,0,0,0,1,0,0,0
1,b,ai,a,d,b,g,0,0,1,0,0,0,0,0,0,0
2,v,as,f,d,a,j,1,0,0,0,0,0,0,0,0,0
3,l,n,f,d,z,l,0,0,0,0,0,0,1,0,0,0
4,s,as,c,d,y,i,1,0,0,0,0,0,0,0,0,0