In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("C:\\Users\\arups\\OneDrive\\Desktop\\COLLECTION\\PROGRAMS\\TEST_CSVs\\play_tennis.csv")
df.drop('day' , axis = 1 , inplace = True)
df.head()

    outlook  temp humidity    wind play
0     Sunny   Hot     High    Weak   No
1     Sunny   Hot     High  Strong   No
2  Overcast   Hot     High    Weak  Yes
3      Rain  Mild     High    Weak  Yes
4      Rain  Cool   Normal    Weak  Yes

In [ ]:
# Problem:1
# Outlook=sunny , Temp=Hot , Humidity=High , Wind=Weak
# Play or No Play ?

In [ ]:
# Problem:2
# Outlook=Overcast , Temp=Cold , Humidity = Low , Wind=Weak
# Play or No play ?

In [6]:
df['play'].value_counts()

play
Yes    9
No     5
Name: count, dtype: int64

In [7]:
Py = 9/14
Pn = 5/14
print('Probability of Yes ::',Py)
print('Probability of No ::',Pn)

Probability of Yes :: 0.6428571428571429
Probability of No :: 0.35714285714285715

In [8]:
# Now we have to find the probabilities for rest of the columns except 'Play' column
# Because we are interest to compare these columns with 'Play' column
pd.crosstab(df['outlook'] , df['play']).reset_index() # Pivot table

play   outlook  No  Yes
0     Overcast   0    4
1         Rain   2    3
2        Sunny   3    2

In [9]:
Povn = 0
Prnn = 2/5
Psnn = 3/5

Povy = 4/9
Prny = 3/9
Psny = 2/9

In [10]:
pd.crosstab(df['temp'] , df['play']).reset_index() # Pivot table

play  temp  No  Yes
0     Cool   1    3
1      Hot   2    2
2     Mild   2    4

In [11]:
Pcon = 1/5
Phon = 2/5
Pmin = 2/5

Pcoy = 3/9
Phoy = 2/9
Pmiy = 4/9

In [12]:
pd.crosstab(df['humidity'] , df['play']).reset_index() # Pivot table

play humidity  No  Yes
0        High   4    3
1      Normal   1    6

In [13]:
Phin = 4/5
Pnon = 1/5

Phiy = 3/9
Pnoy = 6/9

In [14]:
pd.crosstab(df['wind'] , df['play']).reset_index() # Pivot table

play    wind  No  Yes
0     Strong   3    3
1       Weak   2    6

In [15]:
Pstn = 3/5
Pwen = 2/5

Psty = 3/9
Pwey = 6/9

In [18]:
# Outlook=sunny , Temp=Hot , Humidity=High , Wind=Weak
Pyes = Psny*Phoy*Phiy*Pwey
Pno = Psnn*Phon*Phin*Pwen
print('Probability of Yes is {} and Probability of No is {}'.format(Pyes,Pno))
# Here we see the probability of No is more than probability of Yes so ans is No

Probability of Yes is 0.010973936899862823 and Probability of No is 0.07680000000000001