In [1]:
import numpy as np
import pandas as pd

In [6]:
df = pd.read_csv('https://raw.githubusercontent.com/campusx-official/100-days-of-machine-learning/main/day26-ordinal-encoding/customer.csv')
df.sample(5)

    age  gender review education purchased
16   59    Male   Poor        UG       Yes
48   39  Female   Good        UG       Yes
38   45  Female   Good    School        No
47   38  Female   Good        PG       Yes
40   39    Male   Good    School        No

In [7]:
# FOR THIS PARTICULAR VIDEO, DUE TO LACK OF KNOWLEDGE WE USE 2,3,4 INDEX COLUMN

df = df.iloc[: , 2:]
df.head()

    review education purchased
0  Average    School        No
1     Poor        UG        No
2     Good        PG        No
3     Good        PG        No
4  Average        UG        No

In [8]:
from sklearn.model_selection import train_test_split

X_train , X_test , y_train , y_test = train_test_split(df.iloc[:,0:2] , df.iloc[: , -1] , test_size = 0.2)

In [13]:
np.unique(df['education'])

array(['PG', 'School', 'UG'], dtype=object)

In [14]:
from sklearn.preprocessing import OrdinalEncoder

oe = OrdinalEncoder(categories = [['Poor' , 'Average' , 'Good'] , ['School' , 'UG' , 'PG']])
# LOW category to HIGH category order

In [15]:
X_train = oe.fit_transform(X_train)
X_test = oe.transform(X_test)

In [16]:
X_train

array([[1., 1.],
       [0., 0.],
       [2., 2.],
       [2., 2.],
       [0., 0.],
       [0., 2.],
       [1., 0.],
       [0., 1.],
       [2., 2.],
       [1., 0.],
       [1., 2.],
       [1., 0.],
       [0., 0.],
       [0., 2.],
       [2., 1.],
       [1., 2.],
       [2., 1.],
       [2., 1.],
       [1., 0.],
       [0., 2.],
       [2., 0.],
       [1., 1.],
       [1., 1.],
       [2., 1.],
       [0., 2.],
       [1., 1.],
       [2., 0.],
       [2., 0.],
       [0., 2.],
       [2., 0.],
       [0., 1.],
       [2., 2.],
       [1., 1.],
       [0., 2.],
       [1., 2.],
       [1., 0.],
       [2., 2.],
       [0., 0.],
       [1., 1.],
       [2., 1.]])

In [17]:
oe.categories_

[array(['Poor', 'Average', 'Good'], dtype=object),
 array(['School', 'UG', 'PG'], dtype=object)]

In [18]:
# Label Encoder only for output column

from sklearn.preprocessing import LabelEncoder

le = LabelEncoder() # Don't Have to pass any value.This will automatically

In [19]:
y_train = le.fit_transform(y_train)
y_test = le.transform(y_test)

In [21]:
le.classes_

array(['No', 'Yes'], dtype=object)