In [6]:
import pandas as pd

# create example DataFrame
df = pd.DataFrame({
    'name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'age': [25, 18, 35, 42, 20],
    'gender': ['F', 'M', 'M', 'M', 'F']
})

# print original DataFrame
print('Original DataFrame:\n', df)

# delete rows with index values 2 and 4
df.drop([2, 4], axis=0, inplace=True)   # inplace=True parameter will modify the original DataFrame and return None so 
                                        # df = df.drop([2, 4], axis=0, inplace=True) will not work

# print modified DataFrame
print('Modified DataFrame:\n', df)

# delete rows where age is less than 18
df.drop(df[df["age"] <= 18].index, axis=0, inplace=True)

# print modified DataFrame
print('Modified DataFrame:\n', df)

Original DataFrame:
       name  age gender
0    Alice   25      F
1      Bob   18      M
2  Charlie   35      M
3    David   42      M
4      Eve   20      F
Modified DataFrame:
     name  age gender
0  Alice   25      F
1    Bob   18      M
3  David   42      M
Modified DataFrame:
     name  age gender
0  Alice   25      F
3  David   42      M

In [26]:
# import pandas as pd

# dic = {
#     'name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
#     'age': [25, 18, 35, 42, 20],
#     'gender': ['F', 'M', 'M', 'M', 'F']
# }

# df = pd.DataFrame(dic)

# print("\nORIGINAL DATA FRAME\n")
# print(df)

# df = df.drop([1 , 3] , axis = 0)

# print("\nMODIFIED DATA FRAME\n")
# print(df)

#---------------------------------------------------------------

import pandas as pd

dic = {
    'name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'age': [25, 18, 35, 42, 20],
    'gender': ['F', 'M', 'M', 'M', 'F']
}


df = pd.DataFrame(dic)
print("\nORIGINAL DATA FRAME\n")
print(df)

# print("\nMODIFIED DATA FRAME\n")
# df.drop([1 , 3] , axis = 0 , inplace = True)
# print(df)

df.drop(df[df["age"] <= 18].index , axis = 0 , inplace= True) # [df["age"] <= 18] will give me a list of "True/False" value
                                                              # df[df["age"] <= 18] will give me True value's DATAFRAME i.e  1      Bob   18      M
                                                              # df[df["age"] <= 18].index will give me that data frame's index number.
                                                                
print("\nMODIFIED DATA FRAME AFTER DELETION\n", df)

ORIGINAL DATA FRAME

      name  age gender
0    Alice   25      F
1      Bob   18      M
2  Charlie   35      M
3    David   42      M
4      Eve   20      F
Here is : [0    False
1     True
2    False
3    False
4    False
Name: age, dtype: bool]

MODIFIED DATA FRAME AFTER DELETION
       name  age gender
0    Alice   25      F
2  Charlie   35      M
3    David   42      M
4      Eve   20      F

In [28]:
import pandas as pd

df = pd.DataFrame({
    'a': [1, 2, 3],
    'b': [4, 5, 6],
    'c': [7, 8, 9]
})

df['row_sum'] = df.apply(lambda row: row.sum(), axis=1)
print(df)

   a  b  c  row_sum
0  1  4  7       12
1  2  5  8       15
2  3  6  9       18

### The .assign() function in Pandas is used to create new columns or modify existing columns in a DataFrame,
### while returning a new DataFrame with the updated columns.
### The .assign() function is useful when you want to create a new column based on existing columns in a DataFrame,
### without modifying the original DataFrame. It allows you to chain multiple column creation operations together,
### which can make your code more concise and readable.

In [7]:
import pandas as pd

# create a sample DataFrame
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]})

# use .assign() to create a new column based on existing columns
df_new = df.assign(D = df['A'] + df['B'])

# display the original DataFrame
print("Original DataFrame \n",df)

# display the updated DataFrame
print("New DataFrame \n",df_new)

Original DataFrame
    A  B  C
0  1  4  7
1  2  5  8
2  3  6  9
New DataFrame
    A  B  C  D
0  1  4  7  5
1  2  5  8  7
2  3  6  9  9

In [5]:
import pandas as pd

# create a sample DataFrame
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]})

# use the .assign() function to create a new column
df_new = df.assign(D = [10, 20, 30])

# display the updated DataFrame
df_new

   A  B  C   D
0  1  4  7  10
1  2  5  8  20
2  3  6  9  30

## The insert() function in Pandas modifies the original DataFrame in place, and does not return a new DataFrame.The insert() function allows you to insert a new column at a specific position in a DataFrame.

In [8]:
import pandas as pd

# create a sample DataFrame
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]})

# insert two new columns after the first column
df.insert(1, 'col1', [10, 20, 30])
df.insert(2, 'col2', ['a', 'b', 'c'])

# display the updated DataFrame
df

   A  col1 col2  B  C
0  1    10    a  4  7
1  2    20    b  5  8
2  3    30    c  6  9