In [1]:
import pandas as pd

df = pd.read_csv("C:\\Users\\Asus\\Desktop\\Jupyter Notebook\\PANDAS_02\\py-master\\py-master\\pandas\\2_dataframe_basics\\weather_data.csv")
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [3]:
import pandas as pd
weather_data = {
    'day': ['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature': [32,35,28,24,32,31],
    'windspeed': [6,7,2,7,4,2],
    'event': ['Rain', 'Sunny', 'Snow','Snow','Rain', 'Sunny']
}
df = pd.DataFrame(weather_data)
# import os
# cwd = os.getcwd() # Get the current working directory
# file_path = os.path.join(cwd, "weather_data.csv") # Combine the file name with the path
# df = pd.read_csv(file_path)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [3]:
rows , columns = df.shape # ctrl + Enter to execute the line

In [4]:
rows

6

In [6]:
columns

4

In [4]:
df.head(2) # It will print first few rows.Here it will print first 2 rows

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny

In [5]:
df.tail(2) # It will print last few rows.Here it will print last 2 rows

        day  temperature  windspeed  event
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [6]:
df[2:4] # ROW no : 2 to 3 will print.It will not include ROW no 4

        day  temperature  windspeed event
2  1/3/2017           28          2  Snow
3  1/4/2017           24          7  Snow

In [7]:
# TO PRINT EVERY THING USE df[:] or df
df[:]

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [8]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [9]:
df.day # or df["day"] this means to access the property of this dictionary

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [10]:
type(df["day"])

pandas.core.series.Series

In [11]:
df[["event" , "day"]] # This will print some specific column

   event       day
0   Rain  1/1/2017
1  Sunny  1/2/2017
2   Snow  1/3/2017
3   Snow  1/4/2017
4   Rain  1/5/2017
5  Sunny  1/6/2017

In [13]:
# df["temperature"].min()
df["temperature"].std() # std() is STANDARD DEVIATION

3.8297084310253524

In [18]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [20]:
df[df.temperature >= 32]

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
4  1/5/2017           32          4   Rain

In [22]:
df[df["temperature"] == df["temperature"].max()]

# when you use this boolean series as a filter on the DataFrame df using df[True], 
# it returns a new DataFrame with only the rows where the boolean series has a True value. 
# In other words, it returns the row(s) where the "temperature" column has the maximum value.

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [24]:
df["temperature"] == df["temperature"].max()

0    False
1     True
2    False
3    False
4    False
5    False
Name: temperature, dtype: bool

In [26]:
df["temperature"]

0    32
1    35
2    28
3    24
4    32
5    31
Name: temperature, dtype: int64

In [27]:
df["day"][df["temperature"] == df["temperature"].max()] # This will print day when temperature is maximum

1    1/2/2017
Name: day, dtype: object

In [29]:
df[["day" , "temperature"]][df["temperature"] == df["temperature"].max()] 

# This will Print day along with Temperature when temperature is maximum

        day  temperature
1  1/2/2017           35

In [30]:
# df.set_index("day") # It returns a new data frame after replacing default INDEX col with DAY.
                     # It does not return original data frame.
df.set_index("day" , inplace = True) # for modifying the original data frame
df

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

In [32]:
df.loc["1/2/2017"]

temperature       35
windspeed          7
event          Sunny
Name: 1/2/2017, dtype: object

In [33]:
df.reset_index(inplace = True) # For to reset index col in original data frame
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [34]:
df.set_index("event" , inplace = True)
df

            day  temperature  windspeed
event
Rain   1/1/2017           32          6
Sunny  1/2/2017           35          7
Snow   1/3/2017           28          2
Snow   1/4/2017           24          7
Rain   1/5/2017           32          4
Sunny  1/6/2017           31          2

In [37]:
df.loc["Snow"]

            day  temperature  windspeed
event
Snow   1/3/2017           28          2
Snow   1/4/2017           24          7