In [1]:
import pandas as pd

y = pd.Period("2016") # A-DEC means Period is Annual and Ending in December
y

Period('2016', 'A-DEC')

In [2]:
dir(y)

['__add__',
 '__array_priority__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rsub__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__weakref__',
 '_add_offset',
 '_add_timedeltalike_scalar',
 '_dtype',
 '_from_ordinal',
 '_maybe_convert_freq',
 '_require_matching_freq',
 'asfreq',
 'day',
 'day_of_week',
 'day_of_year',
 'dayofweek',
 'dayofyear',
 'days_in_month',
 'daysinmonth',
 'end_time',
 'freq',
 'freqstr',
 'hour',
 'is_leap_year',
 'minute',
 'month',
 'now',
 'ordinal',
 'quarter',
 'qyear',
 'second',
 'start_time',
 'strftime',
 'to_timestamp',
 'week',
 'weekday',
 'weekofyear',
 'year']

In [3]:
y.start_time

Timestamp('2016-01-01 00:00:00')

In [4]:
y.end_time

Timestamp('2016-12-31 23:59:59.999999999')

In [5]:
m = pd.Period("2011-1" , freq = "M")
m

Period('2011-01', 'M')

In [6]:
m + 1 # month + 1

Period('2011-02', 'M')

In [7]:
d = pd.Period("2017-02-28" , freq = "D")
d

Period('2017-02-28', 'D')

In [8]:
d + 1 # NOTE d + 1 gives 2017-03-01 because 2016 is a Leap Year

Period('2017-03-01', 'D')

In [3]:
h = pd.Period("2017-02-28 23:00:00" , freq = "H")
h

Period('2017-02-28 23:00', 'H')

In [4]:
h.start_time

Timestamp('2017-02-28 23:00:00')

In [5]:
h.end_time

Timestamp('2017-02-28 23:59:59.999999999')

In [6]:
h + 1

Period('2017-03-01 00:00', 'H')

# Quaterly Time Period

### 1 quater = 3 months

In [7]:
q = pd.Period("2017Q1") # Now the ans says that Time ends on December
q

Period('2017Q1', 'Q-DEC')

In [8]:
q = pd.Period("2017Q1" , freq = "Q-JAN") # ITS START TIME 2016-02-01 
q
# HERE YEAR ENDS AT JANUARY INSTED OF DECEMBER

Period('2017Q1', 'Q-JAN')

In [10]:
q.end_time

Timestamp('2016-04-30 23:59:59.999999999')

## CONVERTING FREQUENCY TO SOME ANOTHER FREQUENCY

In [11]:
q.asfreq("M" , how = "end")

Period('2016-04', 'M')

### ARITHMATIC OPERATIONS BETWEEN FREQUENCIES

In [28]:
q1 = pd.Period("2017Q1" , freq = "Q-JAN")
q1

Period('2017Q1', 'Q-JAN')

In [29]:
q2 = pd.Period("2018Q2" , freq = "Q-JAN")
q2

Period('2018Q2', 'Q-JAN')

In [32]:
q2 - q1

In [21]:
q3 = pd.Period("2017Q2" , freq = "Q-DEC")

print(f"START TIME :: {q3.start_time} \nEND TIME   :: {q3.end_time}")

START TIME :: 2017-04-01 00:00:00
END TIME   :: 2017-06-30 23:59:59.999999999

In [2]:
idx = pd.period_range('2011' , '2017' , freq = 'Q-JAN')
idx

# NOTICE THAT, EXCEPT 2011 EVERY YEAR HAS 4 NUMBER OF QUARTILES.

PeriodIndex(['2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1',
             '2013Q2', '2013Q3', '2013Q4', '2014Q1', '2014Q2', '2014Q3',
             '2014Q4', '2015Q1', '2015Q2', '2015Q3', '2015Q4', '2016Q1',
             '2016Q2', '2016Q3', '2016Q4', '2017Q1', '2017Q2', '2017Q3',
             '2017Q4'],
            dtype='period[Q-JAN]')

In [35]:
print(f"START TIME :: {idx[0].start_time}, END TIME :: {idx[0].end_time}")

START TIME :: 2010-11-01 00:00:00, END TIME :: 2011-01-31 23:59:59.999999999

In [4]:
import numpy as np

ps = pd.Series(np.random.randn(len(idx)) , idx)
ps

2011Q4   -1.740184
2012Q1   -0.612771
2012Q2    1.188813
2012Q3    1.149702
2012Q4   -1.078372
2013Q1   -1.248712
2013Q2   -0.036572
2013Q3   -0.585242
2013Q4    0.851589
2014Q1   -1.883902
2014Q2    0.020183
2014Q3    0.984205
2014Q4   -0.161882
2015Q1   -0.177793
2015Q2   -0.607921
2015Q3    0.556926
2015Q4    0.385485
2016Q1   -0.247301
2016Q2    0.310660
2016Q3    0.189622
2016Q4    1.149876
2017Q1    0.983670
2017Q2   -0.786013
2017Q3   -0.486151
2017Q4   -0.635151
Freq: Q-JAN, dtype: float64

In [5]:
ps.index

PeriodIndex(['2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1',
             '2013Q2', '2013Q3', '2013Q4', '2014Q1', '2014Q2', '2014Q3',
             '2014Q4', '2015Q1', '2015Q2', '2015Q3', '2015Q4', '2016Q1',
             '2016Q2', '2016Q3', '2016Q4', '2017Q1', '2017Q2', '2017Q3',
             '2017Q4'],
            dtype='period[Q-JAN]')

In [6]:
ps["2011" : "2013"]

2011Q4   -1.740184
2012Q1   -0.612771
2012Q2    1.188813
2012Q3    1.149702
2012Q4   -1.078372
2013Q1   -1.248712
2013Q2   -0.036572
2013Q3   -0.585242
2013Q4    0.851589
2014Q1   -1.883902
2014Q2    0.020183
2014Q3    0.984205
2014Q4   -0.161882
Freq: Q-JAN, dtype: float64

In [7]:
pst = ps.to_timestamp()
pst

2010-11-01   -1.740184
2011-02-01   -0.612771
2011-05-01    1.188813
2011-08-01    1.149702
2011-11-01   -1.078372
2012-02-01   -1.248712
2012-05-01   -0.036572
2012-08-01   -0.585242
2012-11-01    0.851589
2013-02-01   -1.883902
2013-05-01    0.020183
2013-08-01    0.984205
2013-11-01   -0.161882
2014-02-01   -0.177793
2014-05-01   -0.607921
2014-08-01    0.556926
2014-11-01    0.385485
2015-02-01   -0.247301
2015-05-01    0.310660
2015-08-01    0.189622
2015-11-01    1.149876
2016-02-01    0.983670
2016-05-01   -0.786013
2016-08-01   -0.486151
2016-11-01   -0.635151
Freq: QS-NOV, dtype: float64

In [8]:
pst.index

DatetimeIndex(['2010-11-01', '2011-02-01', '2011-05-01', '2011-08-01',
               '2011-11-01', '2012-02-01', '2012-05-01', '2012-08-01',
               '2012-11-01', '2013-02-01', '2013-05-01', '2013-08-01',
               '2013-11-01', '2014-02-01', '2014-05-01', '2014-08-01',
               '2014-11-01', '2015-02-01', '2015-05-01', '2015-08-01',
               '2015-11-01', '2016-02-01', '2016-05-01', '2016-08-01',
               '2016-11-01'],
              dtype='datetime64[ns]', freq='QS-NOV')

In [9]:
# To get the period index back we use

pst.to_period()

2010Q4   -1.740184
2011Q1   -0.612771
2011Q2    1.188813
2011Q3    1.149702
2011Q4   -1.078372
2012Q1   -1.248712
2012Q2   -0.036572
2012Q3   -0.585242
2012Q4    0.851589
2013Q1   -1.883902
2013Q2    0.020183
2013Q3    0.984205
2013Q4   -0.161882
2014Q1   -0.177793
2014Q2   -0.607921
2014Q3    0.556926
2014Q4    0.385485
2015Q1   -0.247301
2015Q2    0.310660
2015Q3    0.189622
2015Q4    1.149876
2016Q1    0.983670
2016Q2   -0.786013
2016Q3   -0.486151
2016Q4   -0.635151
Freq: Q-DEC, dtype: float64