In [2]:
import pandas as pd

dates = ["2017-01-05 2:30:00 PM" , "Jan 5, 2017" , "01/05/2017" , "2017/01/05" , "20170105"]
pd.to_datetime(dates)

DatetimeIndex(['2017-01-05 14:30:00', '2017-01-05 00:00:00',
               '2017-01-05 00:00:00', '2017-01-05 00:00:00',
               '2017-01-05 00:00:00'],
              dtype='datetime64[ns]', freq=None)

US : mm/dd/yyyy
Europe :dd/mm/yyyy

In [3]:
pd.to_datetime("05/01/2017") # Europe Format 

# Output gives in US format

Timestamp('2017-05-01 00:00:00')

In [5]:
pd.to_datetime("05/01/2017" , dayfirst = True)

Timestamp('2017-01-05 00:00:00')

# CUSTOM DATE TIME FORMAT

In [8]:
pd.to_datetime("05$01$2017" , format = "%d$%m$%Y" ) # Note : Year's %Y "Y is Capital"

Timestamp('2017-01-05 00:00:00')

In [ ]:
dates = ["2017-01-05 2:30:00 PM" , "Jan 5, 2017" , "01/05/2017" , "2017/01/05" , "20170105" , "abc"]
pd.to_datetime(dates , errors = "ignore")

# THIS WILL IGNORE THE ERRORS AND DONT PERFORM THE DATETIME CONVERSION

In [9]:
# IF U WANT TO JUST IGNORE THE INVALID STRING AND STILL PERFORM THE CONVERSION OF THE REST OF IT THEN...

dates = ["2017-01-05 2:30:00 PM" , "Jan 5, 2017" , "01/05/2017" , "2017/01/05" , "20170105" , "abc"]
pd.to_datetime(dates , errors = "coerce")

DatetimeIndex(['2017-01-05 14:30:00', '2017-01-05 00:00:00',
               '2017-01-05 00:00:00', '2017-01-05 00:00:00',
               '2017-01-05 00:00:00',                 'NaT'],
              dtype='datetime64[ns]', freq=None)

## Epoch (unix time) is a number of seconds that have passed since Jan 1,1970 00:00:00 UTC

In [12]:
t = 1681927919
dt = pd.to_datetime([t] , unit = "s")
dt

DatetimeIndex(['2023-04-19 18:11:59'], dtype='datetime64[ns]', freq=None)

In [13]:
dt.view("int64")

array([1681927919000000000], dtype=int64)